<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
            <link href="../css/detalles.css" rel="stylesheet">
                <title>Detalles Ingreso</title>
                </head>
    <body>
        
        <!-- CABECERO -->
        <div th:replace="/estructuras/cabecero :: div"></div>

        <!-- CONTENEDOR -->
        <div th:replace="/estructuras/contenedorIngreso :: div"></div>

        <!--ICONOS-->
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        
    </body>
</html>