<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/login.css">
        <title>Olvide mi Contrase&ntilde;a</title>
        </head>
    <body>
        <div class="login-container-password">
                <div class="login-info-container-password">
                   <form th:action="@{/enviarMensajePassword}" class="inputs-password-form" method="POST">
                            <p><span class="span">Te enviaremos un mensaje a tu correo, para restablecer la contrase&ntilde;a</span></p>
                            <input class="input" name="correo" type="email" placeholder="Ingresa tu correo" required>
                            <div th:if="${error != null}">
                                <p><span class="span" style="color: red;">[[${error}]]</span></p>
                            </div>
                            <div th:if="${mensajeEnviado != null}">
                                <p><span class="span" style="color: green;">[[${mensajeEnviado}]]</span></p>
                            </div>
                            <div th:if="${errorMensaje != null}">
                                <p><span class="span" style="color: red;">[[${errorMensaje}]]</span></p>
                            </div>
                            <div th:if="${mensaje != null}">
                                <p><span class="span" style="color: red;">[[${mensaje}]]</span></p>
                            </div>
                        <button class="btn">Enviar</button>
                    </form>
                </div>
        </div>
    </body>
</html>